@import 'src/assets/css/varaibles.scss';

.loginContainer {
  background-color: white;
  padding: 3rem;
  width: 500px;

  h1 {
    font-size: 2.3rem;
    text-align: center;
  }

  h2 {
    font-size: 1.8rem;
    text-align: center;
  }

  strong {
    font-size: 2.7rem;
    font-weight: bold;
    color: rgb(21, 66, 214);
  }
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.backgroundLogin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

@media (max-width: $breakpoint-tablet) {
  .loginContainer {
    width: 100%;
    min-height: 100%;
    margin: 0;
    top: 0;
  }

  .backgroundLogin {
    min-height: 100vh;
    position: relative;
  }
}
