.mainNav{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #3f51b5;

  .logo {
    margin-right: 1rem;

    h1 {
      font-size: 1.8rem;
      margin: 0;
      color: black;
    }

    strong {
      font-size: 2.3rem;
      font-weight: bold;
      color: rgb(21, 66, 214);
    }
  }

  .menu {
    flex-grow: 1;

    ul {
      margin-left: 2rem;
      list-style-type: none;

      li {
        float: left;
        cursor: pointer;

        a {
          display: block;
          color: #3f51b5;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        }

        a:hover, a:active {
          color: white;
          background: #99a5e5;
        }

        .active {
          color: white;
          background: #3f51b5;
        }
      }
    }
  }

  .userMenu {
    cursor: pointer;
    color: #3f51b5;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    mat-icon {
      margin-right: 0.5rem;
    }
  }
}
