<nav class="mainNav">
  <div class="logo"><a href="/" target="_self"><h1><strong>Ai</strong>fredo</h1></a></div>
  <div class="menu">
    <ul>
      <li><a routerLink="/assenze" [routerLinkActive]="['active']">Gestione Assenze</a></li>
      <li><a routerLink="/nuovoUtente" [routerLinkActive]="['active']"
             *ngIf="profile?.autorizzazione === Autorizzazioni.ORGANIZZATORE || profile?.autorizzazione === Autorizzazioni.PADRONE"
      >Creazione Utenza</a></li>
    </ul>
  </div>
  <div class="userMenu" [matMenuTriggerFor]="appMenu"> {{ (user$ | async)?.displayName }}</div>
</nav>
<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="goToProfile()">Profilo</button>
    <button mat-menu-item (click)="logOut()">Logout</button>
  </ng-template>
</mat-menu>
